<h1><%= @team.team_name%> Show Page</h1>

  <p> Location: <%= @team.city %> </p>
  <p> Name: <%= @team.team_name %> </p>
  <p> Number of Titles: <%= @team.number_of_titles %> </p>
  <p> Expansion Team: <%= @team.expansion_team %> </p>