<h1> Player Index Page </h1>
<br><%= link_to "All Teams", "/teams" %></br>

<% @players.each do |player| %>

  <% if player.all_star == true %>
    <br><li> Name: <%= player.player_name %></li>
    <li> Age: <%= player.age %></li>
    <li> Hometown: <%= player.hometown %></li>
    <li> All-Star: <%= player.all_star %></li>
    <%= link_to "Update #{player.player_name}", "/players/#{player.id}/edit" %></br>
  <% end %>
  
<% end %>