<h1> <%= @player.player_name %> Show Page </h1>

  <p> Name: <%= @player.player_name %> </p>
  <p> Age: <%= @player.age %> </p>
  <p> Hometown: <%= @player.hometown %> </p>
  <p> All-Star: <%= @player.all_star %> </p>